body{
    margin: 0;
    font-family:'Nunito Sans', Arial, sans-serif;
}

body *{
    box-sizing:border-box ;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-color:black;
    text-transform: uppercase;
}

.header-content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.logo{
    color: #E3B873;
}

.all-orange{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    width: 161px;
    height: 37px;
    font-family:'Nunito Sans', Arial, sans-serif;
    text-transform: uppercase;
}

.button{
    color: white;
    cursor: pointer;
}

.nav-button{
    padding: 13px 33px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}


.header-navigation{
    list-style: none;
    display: flex;
}

.header-navigation-item{
    margin-right: 47px;
}

.nav-item:hover{
    color:#E3B873; 
}

.nav-item{
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}



.hat-page{
    background-image: url(./images/name_page.jpg);
    width: 100%;
    height: 800px;
    background-size: cover;
    position: relative;
}

.container-hat-page{
    position: relative;
    z-index: 1;

}
.overlay {
    color: '';
    background-color: rgba(0, 0, 0, .5); 
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
  }

.info-pages{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.name-text{
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 194px 627px 408px 134px;
    position: absolute;
}

.orange-text{
    color:#E3B873; 
}

.hat-text{
    font-family: 'Nunito Sans', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    position: absolute;
    padding: 318px 800px 300px 134px;
}

.button-hat{
    padding: 448px 1097px 208px 134px;
    font-size: 9px;
    display: flex;
    
}

.orange-button{
    margin-right: 20px;
}

.white-button{
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background-color: #11ffee00;
}

.orange-button, .white-button{
    width: 207px;
    height: 51px;
}

.exposition{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 1074px;  
}

.exposition-container{
    margin: 107px 135px;
}

.expo-header{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    padding-right: 56px;
}

.expo-header:hover{
    color:#E3B873;
    text-decoration: underline;
}

.exposition-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 45px;
}

.expo-name{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    grid-area: A;
}

.expo-text{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    grid-area: B;
}

.expo-room-name{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.expo-room-text{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.expo-image{
    max-width: 679px;
    max-height: 482px;
    filter: drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.15));
}

.room{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas:
    "A A K K"
    "B B K K"
    "C D K K"
    "E F K K";
    gap: 20px;
}

.expo-image{
    grid-area: K;
}

.city{
    grid-area: C;
}

.area{
    grid-area: D;
}

.time{
    grid-area: E;
}

.cost{
    grid-area: F;
}

